{{!-- 
    Complexity system: uses Ghost internal tags.
    When creating a post, add ONE of these internal tags:
    #light, #layered, or #deep
    Internal tags (prefixed with #) are hidden from public tag pages.
--}}
<div class="article-complexity">{{#has tag="#light"}}Light{{/has}}{{#has tag="#layered"}}Layered{{/has}}{{#has tag="#deep"}}Deep{{/has}}</div>
